body{
    background-color:#9cadbe;
}
header.masthead {
    position: relative;
    background-color: #343a40;
    height: 100%;
    background: url(http://www.yunlinplay.tw/gimg/f/61/613027_high-tech-wallpaper.png) no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3
}

header.masthead h1 {
    font-size: 2rem
}

@media (min-width:768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem
    }
    header.masthead h1 {
        font-size: 4rem;
        font-weight:bold;
    }
}

.my-padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.form-row>.col,
.form-row>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.post-action{
    position:absolute;
}
.btn-borrar {
    background: whitesmoke;
    border-radius: 50%;
    position: relative;
    left: -10px;
    top: -20px;
}
.btn-editar {
    background: whitesmoke;
    border-radius: 50%;
    position: relative;
    top: 20px;
    left:-55px;
}